@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
#__next {
  height: 100%;
  max-width: 100%;
  overflow: hidden;
}
.cursor-pointer {
  cursor: pointer;
}

/**-----------*/
// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../../node_modules/bootstrap/scss/functions";
@import "../assets/font-icons/style.scss";

// 2. Include any default variable overrides here
// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
// 5. Include remainder of required parts
@import "../../node_modules/bootstrap/scss/maps";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/root";

// 6. Optionally include any other parts as needed
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/helpers";
@import "../../node_modules/bootstrap/scss/offcanvas";
@import "../../node_modules/bootstrap/scss/dropdown";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "../../node_modules/bootstrap/scss/utilities/api";

// 8. Add additional custom code here
:root {
  --bs-body-font-family: "Kumbh Sans", sans-serif;
  --us-primary: hsl(26, 100%, 55%);
  --us-primary-light: hsl(25 99% 72%);
  --us-primary-lighter: hsl(25, 100%, 94%);
  --us-secondary: hsl(219, 9%, 45%);
  --us-secondary-light: hsl(223, 64%, 98%);
  --us-dark: hsl(0, 0%, 0%);
  --us-light: hsl(0, 0%, 100%);
  --slider-translateX: 0;
}

.overlay {
  @include media-breakpoint-up(sm) {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 999;
  }
}

.txt-primary {
  color: var(--us-primary);
}

.offcanvas.offcanvas-start {
  --bs-offcanvas-width: 250px;
}
.offcanvas- {
  &header {
    --bs-offcanvas-padding-y: 2rem;
  }
  &body {
    @include media-breakpoint-down(sm) {
      font-weight: 700;
    }
    @include media-breakpoint-up(sm) {
      .nav-link {
        position: relative;
        &:hover::after {
          content: "";
          width: 100%;
          height: 4px;
          background-color: var(--us-primary);
          bottom: -38px;
          position: absolute;
          left: 3px;
        }
      }
    }
  }
}

.nav-item {
  --bs-nav-link-color: var(--us-secondary);
  --bs-nav-link-hover-color: var(--us-dark);
  padding: 0 0.5rem;
  @include media-breakpoint-up(lg) {
    padding: 0 1rem;
  }
  .user-avatar {
    height: 30px;
    width: 30px;
    @include media-breakpoint-up(sm) {
      height: 50px;
      width: 50px;
    }
    border: 2px solid transparent;
    &:hover {
      border: 2px solid var(--us-primary);
    }
  }
}

.gelatine {
  animation: gelatine 0.5s;
}

@keyframes gelatine {
  from,
  to {
    transform: scale(1, 1);
  }

  25% {
    transform: scale(0.9, 1.1);
  }

  50% {
    transform: scale(1.1, 0.9);
  }

  75% {
    transform: scale(0.95, 1.05);
  }
}

// cart

.cart {
  background-color: var(--us-light);
  position: absolute;
  border: 1px solid var(--us-secondary-light);
  top: 80px;
  right: 0;
  margin: 0.5rem;
  z-index: 9;
  &-thumbnail {
    max-width: 60px;
  }
  .item-description {
    color: var(--us-secondary);
  }
  @media (max-width: 375px) {
    width: 96%;
  }
  .empty-cart {
    height: 140px;
    min-width: 325px;
    @media (min-width: 375px) {
      min-width: 335px;
      max-width: 366px;
    }
  }
}

// icons styles
.icon-minus {
  color: var(--us-primary);
  font-size: 4px;
  cursor: pointer;
  &:hover {
    color: var(--us-primary-light);
  }
}
.icon-plus {
  color: var(--us-primary);
  font-size: 12px;
  cursor: pointer;
  &:hover {
    color: var(--us-primary-light);
  }
}
.icon-shopping-cart {
  font-size: 20px;
  .cart-badge {
    font-size: 12px;
    font-weight: 700;
    top: -4px;
    background-color: var(--us-primary);
    color: var(--us-light);
    right: -5px;
  }
}

.icon-delete {
  color: var(--us-secondary);

  &:hover {
    color: var(--us-primary);
  }
}

.icon-close {
  color: var(--us-secondary);
}

.icon-container {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  top: 43%;
  background-color: var(--us-light);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 8;
}
.icon-next-container {
  left: 94%;
  @extend.icon-container;
}
.icon-previous-container {
  left: 6%;
  @extend.icon-container;
}

.btn-primary {
  --bs-btn-color: white;
  --bs-btn-bg: var(--us-primary);
  --bs-btn-border-color: var(--us-primary);
  --bs-btn-hover-color: white;
  --bs-btn-hover-bg: var(--us-primary-light);
  --bs-btn-hover-border-color: #var(--us-primary-light);
  --bs-btn-focus-shadow-rgb: 217, 106, 22;
  --bs-btn-active-color: white;
  --bs-btn-active-bg: var(--us-primary-light);
  --bs-btn-active-border-color: #var(--us-primary-light);
  --bs-btn-focus-box-shadow: 0px 20px 51px -1rem rgba(217, 106, 22, 0.5);
  --bs-btn-disabled-color: white;
  --bs-btn-disabled-bg: var(--us-primary-light);
  --bs-btn-disabled-border-color: var(--us-primary-light);
  box-shadow: 0px 20px 51px -1rem var(--us-primary);
  border: 0;
  &:hover {
    box-shadow: var(--bs-btn-focus-box-shadow);
    border: 0;
  }
}

.quantity-counter {
  background-color: var(--us-secondary-light);
}

.discount-badge {
  font-weight: 600;
  color: var(--us-primary);
  background-color: var(--us-primary-lighter);
  padding: 0 5px;
  border-radius: 5px;
}
.original-price {
  color: hsl(220, 14%, 75%);
}

.product- {
  &page {
    gap: 2rem;
  }
  &preview,
  &info {
    max-width: 500px;
  }

  &thumbnail {
    max-width: 100px;
    background-color: var(--us-light);

    cursor: pointer;
    &:hover {
      img {
        opacity: 0.4;
      }
    }
    &.active {
      img {
        opacity: 0.4;
      }
      border: 2px solid var(--us-primary);
    }
  }
  &description {
    color: var(--us-secondary);
  }
}

@media (min-width: 576px) {
  .product- {
    &img {
      border-radius: var(--bs-border-radius-xl);
    }
  }
}
@media (min-width: 1200px) {
  .product- {
    &img {
      border-radius: var(--bs-border-radius-xl);
    }

    &page {
      gap: 7rem;
    }
  }
}
.slider {
  transition: all 1s;
  transform: translateX(var(--slider-translateX));
}

// lightbox
.lightBoxWrapper {
  max-width: 500px;
  .icon-close {
    color: var(--us-light);
    &:hover {
      color: var(--us-primary);
    }
  }
}
