$icomoon-font-family: "e-commerce" !default;
$icomoon-font-path: "fonts" !default;

$icon-lines: "\e901";
$icon-close: "\e900";
$icon-avatar: "\e90e";
$icon-shopping-cart: "\e902";
$icon-menu: "\e9bd";

